<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nietky.librarythingbrowser"
    android:versionCode="19"
    android:versionName="1.6.3" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name" >
        <activity
            android:name="com.nietky.librarythingbrowser.BookListActivity"
            android:label="LibraryThing Browser" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.BookDetailActivity"
            android:label="@string/title_book_detail"
            android:parentActivityName=".BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.TagListActivity"
            android:label="@string/title_activity_tag_list"
            android:parentActivityName=".BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.CollectionListActivity"
            android:label="@string/title_activity_collection_list"
            android:parentActivityName=".BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.AuthorListActivity"
            android:label="@string/title_activity_author_list"
            android:parentActivityName=".BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.ReviewListActivity"
            android:label="@string/title_activity_review_list"
            android:parentActivityName="com.nietky.librarythingbrowser.BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nietky.librarythingbrowser.BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.CommentListActivity"
            android:label="@string/title_activity_comment_list"
            android:parentActivityName="com.nietky.librarythingbrowser.BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nietky.librarythingbrowser.BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.DebugLog"
            android:label="@string/title_activity_debug_log"
            android:parentActivityName="com.nietky.librarythingbrowser.PreferencesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nietky.librarythingbrowser.PreferencesActivity" />

            <intent-filter>
                <action android:name="com.nietky.librarythingbrowser.DebugLog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.AdvancedSearchActivity"
            android:label="@string/title_activity_advanced_search"
            android:parentActivityName="com.nietky.librarythingbrowser.BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nietky.librarythingbrowser.BookListActivity" />
        </activity>
        <activity
            android:name="com.nietky.librarythingbrowser.SelectItemsActivity"
            android:label="@string/title_activity_select_items"
            android:parentActivityName="com.nietky.librarythingbrowser.BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nietky.librarythingbrowser.BookListActivity" />
        </activity>
    </application>

</manifest>